@{
@model MVC_Login_auth.ViewModels.ContenidoViewModel;
}
<h2>Editor de Contenido</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label>Título del mensaje:</label>
        <input asp-for="Titulo" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Cuerpo del texto:</label>
        <textarea asp-for="Texto" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>